<mat-card>Ingrese los datos de la habitacion</mat-card>

<br>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmHabitacion="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Tipo" required formControlName="tipo">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Capacidad" required formControlName="capacidad" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Descripcion" required formControlName="descripcion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ocupado" required formControlName="ocupado" type="boolean">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/habitacion' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
