<mat-toolbar>Reservas</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <router-outlet></router-outlet>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar reservas">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idReserva">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Cliente">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cliente.nombres}} {{row.cliente.apellidos}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaEntrada">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Entrada </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fechaEntrada}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaSalida">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Salida </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fechaSalida}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaConfirmacion">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Confirmacion </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fechaConfirmacion}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>
  <button mat-button color="primary" routerLink="/cliente">Aceptar</button>
</div>
